.counterBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

    border: 4px solid #cd00b2;
    border-radius: 20px;
    background-color: #e4e4fc;
    width: 250px;
    height: 200px;
}